<div id="comment" class="modal">
	<div class="modal-content">
		<h5>Comment</h5>
		<form action="/submit" method="post">
			<textarea type=text" name="body"></textarea>
		</form>
	</div>
	<div class="modal-footer">
		<a href="/submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
	</div>
</div>