<header>
	<nav role="navigation" class="z-depth-5">
		<div class="nav-wrapper container">
			<a href="./landing.html" class="brand-logo center" style="font-family: 'Times', sans-serif;">
				<span id="name">NEWS REEL</span>
			</a>
			<ul class="right hide-on-med-and-down">
				<a class="waves-effect waves-light btn" href="#login">Login</a>
			</ul>
			<ul class="left hide-on-med-and-down">
				<li><a href="./newreel.html">Saved Articles</a></li>
			</ul>
			<ul class="left hide-on-med-and-down">
				<li class="active"><a href="./landing.html">Home</a></li>
			</ul>
		</div>
	</nav>
</header>