<div id="scrape" class="modal">
	<div class="modal-content">
		<h5>Added 20 Articles!</h5>
	</div>
	<div class="modal-footer">
		<a href="/scrape" class=" modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
	</div>
</div>