.parallax-container {
    height: 350px;
}

.hero-img {
	filter: sepia(60%);
}
h4 {
	text-align: center;
	font-family: Georgia;
	margin-top: 100px;
	color: white;
	text-shadow: 5px 2px 2px black;
	font-weight: bold;
}

.btn-large {
	background: #f33829;
}
.scrape {
	display: flex;
	margin-top: 10px;
	flex-flow: column-reverse wrap;
}
